# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.txt

# Output folders

logs/

# Data files (if they should not be versioned)

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment files
*.env
.env.*
